@use 'sass:color';

.search-folder-element {
	> .btn {
		border: $border-width solid color.adjust($border-color, $lightness: -5%);

		&:hover:not(:disabled) {
			border-color: color.adjust($border-color, $lightness: -15%);
		}

		&:focus {
			box-shadow: $input-focus-box-shadow;
		}
	}
}
